
<div class ="profile-container">
    <input class = "file-upload" type="file" onchange={{action "previewImage"}}/>
    <img class = "profilepic" src="/assets/images/profilepic.png" height="93" width="93" alt="Image preview" />
</div>
