
<div class ="profile-container">
    <input class = "file-upload" type="file" onchange={{action "previewImage"}}/>
    <img class = "profilepicture" src="" height="93" width="93" alt="Image preview" />
</div>
