
<div class ="profile-container">
   
    
    <input id = "file-upload" type="file" onchange={{action "previewImage"}} />
  
    <img class = "profilepicture" src= {{imageplaceholder}} height="93" width="93" alt="Image preview" />
    {{#if ValidationFailed}}
    <div class="fielderror">
                    {{imageError}}
                </div>
{{/if}}

</div>
