<div class = "add-employee-slide-container font-style">
  <div class = "add-employee-outerslide"></div>
  <div class = "add-employee-slide">
    <div class = "header slideheader">
      <div class="slide-headertext">{{title}}</div>
      <div class="add-employee-slide-btns">
        <div class="apply-btn">Apply</div>
        <div class="reset-btn">Reset</div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
  </div>
</div>