<BsModal class="font-style">
  <Modal.header class="bsheader">
    <div class = "subheader-text bsheadertext">Add Employee</div>
      <div class = "buttons">
        <BsButton>Reset</BsButton>
        <BsButton>Apply</BsButton>
      </div>
  </Modal.header>
  <div class="dropdown-divider"></div>
  <Modal.body>
   {{!-- user-form component --}}
  </Modal.body>
</BsModal>

