<div class = "slide-container0 font-style">
  <div class = "outerslide"></div>
  <div class = "slide2">
    <div class = "header slideheader">
      <div class="headertext">Add Employee</div>
      <div class="buttons">
        <div class="button1">Apply</div>
        <div class="button1">Reset</div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
  </div>
</div>