{{!-- {{yield}} --}}

<div class = "card-container">
    {{user-avatar title=employeeinfocard.first_name empImage=employeeinfocard.image}}
    <div class = "namebox">
         {{employeeinfocard.fullName}}
    </div>

    <div class = "emailbox">
         {{employeeinfocard.email}}
    </div>
</div>
