 
<div class="content-container">

   {{#each employeeCards as |employee|}}
      {{user-card employeeinfocard=employee}}
      {{else}}
         <div class="nodata">
            <div class = "nodataImage">{{svg-jar 'employees' height='96px' }}</div>
            <div class = "nodatamessage1 font-family">No employees to list in this view </div>
            <div class = "nodatamessage2 font-family">Try looking for something less specific</div>
         </div>
   {{/each}}
  
</div>
