
<div class="avatarlist-container" style = "background-color: {{colorpicker (initial title)}}">
    {{#if empImage}}
    <img class = "employeelist-image" src={{empImage}} >
    
    {{else}}
        <div class="employeelist-initial" >
             {{initial title}} 
        </div>
    {{/if}}
</div>