
@import "ember-bootstrap/bootstrap";
@import "fontstyle";
@import "dropdown";
@import "search";
@import "slider";
@import "user-form-elements";
@import "avatar";
@import "datepicker";
@import "ember-power-select";
@import "teamspowerselect";
@import "bsmodal-popups";


$body-color: #e5e5e5;
$leftnav-color :#12344d ;

* {
   box-sizing: border-box;
}

body {
    background-color: $body-color ;
}
.users-container {
   height:fit-content;
 }

 .cards-container {
   display: flex;
   flex-direction: column;
 }

 .avatar-container {
   border-radius: 50px;
   height:85px;
   width:85px;
   align-self: center;
   margin: 25px;
   display: flex;
   justify-content: center;
}

.card-container {
   width: 220px;
   height: 230px;
   margin:8px;
   background: #FFFFFF;
   border-radius: 2px;
   display:flex;
   flex-direction:column;
   align-items: center;

   &:hover {
      box-shadow: 0px 2px 10px rgba(24, 50, 71, 0.2);
      border-radius: 2px;
      }
}

.usercard-buttons{
   border:none;
   background: transparent;

   &:hover {
      background: #e8eef3;
   }
}

.employee-image {
   border-radius:50px;
   height:85px;
   width:85px;
   
}

.employee-initial {
   align-self: center;
   font-size: 55px;
   line-height: 40px;
   color: #FFFFFF;
   text-align:center;
}

.namebox {
   font-size: 16px;
   line-height: 20px;
   padding:5px;
   color: #27313A;
}

.emailbox {
   font-weight: 400;
   font-size: 12px;
   line-height: 20px;
   text-align: center;
   letter-spacing: 0.07px;
   color: #576C7D;
}

.sub-header {
   height:50px;
   background-color: #ffffff;
   display:flex;
   background: #F5F7F9;
   justify-content: space-between;
 }

 .subheader-text{
   margin-left: 80px;
   font-size: 14px;
   line-height: 18px;
   align-self: center;
   width: 112px;
   height: 22px;
 }

 .content-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left:90px;
}

.users-button {
   border-radius: 4px;
   margin-left:18px;
   background: #fff;
}

.users-button.active {
   background: #7052CC;;
}

.count-text {
   width: 125px;
   height: 18px;
   position: absolute;
   height: 17px;
   left: 55.7%;
   right: 0%;
   top: 15px;
   font-size: 12px;
   line-height: 18px;
   color: #12344D;
   flex: none;
   order: 0;
   flex-grow: 0;
}

.navbar-left {
   position: fixed;
   width: 60px;
   z-index: 1;
   height:100%;
   background-color: $leftnav-color;
}

.leftbar-logo {
   height: 52px;
   width:60px;
   background: $leftnav-color;
   box-shadow: 0px 1px 0px #41637C, 0px 2px 0px #27303E;
}

.logoimg {
   opacity: 0.5;
   margin:15px;
   background: transparent;
}

.header{
   height:54px;
   background-color: #ffffff;
   display:flex;
}

.headerimg{
   background: #FFFFFF;
   margin-left:90px;
   margin-top:10px;
}

.header-text{
   height: 17px;
   font-weight: 400;
   font-size: 18px;
   line-height: 16px;
   color: #41637C;
   margin-left: 15px;
   margin-top:15px;
}

.footer {
   position: fixed;
   height: 20px;
   width:100%;
   bottom: 0%;
   background: #F5F7F9;
   border: 1px solid #CFD7DF;
 }

 .footer-text{
    height:16px;
    width:250px;
    margin-left: 600px;
    bottom:0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #607787;
 }

 .usercards-container {
   display: flex;
   flex-direction:row;
   width:fit-content;
 
 }

 .employee-button {
   width: 119px;
   height: 30px;
   background-color: #fff;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   margin:10px;
   margin-right:30px;

 }

 





