
@import "ember-bootstrap/bootstrap";

$header-font: SF UI Text;
$footer-font: SF Pro Text;
$body-color: #e5e5e5;
$leftnav-color :#12344d ;

* {
   box-sizing: border-box;
}

body {
    background-color: $body-color ;
}

.container1 {
   // width:fit-content;
   height:fit-content;
 }

 .cards-container {
   // border:1px solid;
   display: flex;
   flex-direction: column;
 }

 .avatar-container {
   border-radius: 50px;
   height:80px;
   width:80px;
   align-self: center;
   margin: 35px;
   display: flex;
   justify-content: center;
}

.card-container {
   width: 220px;
   height: 230px;
   margin:8px;
   background: #FFFFFF;
   border-radius: 2px;
   display:flex;
   flex-direction:column;
   align-items: center;
   // align-content:center;
   // justify-content: center;
}

.employee-image {
   // border:2px solid;
   border-radius:50px;
   height:80px;
   width:80px;
   padding-right:25px;
}

.employee-initial {
   align-self: center;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-size: 55px;
   line-height: 40px;
   color: #FFFFFF;
   text-align:center;

}

.namebox {

   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   padding:10px;
   color: #27313A;

}

.emailbox {

   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 20px;
   text-align: center;
   letter-spacing: 0.07px;
   color: #576C7D;

}

.sub-header {
   height:50px;
   background-color: #ffffff;
   display:flex;
   background: #F5F7F9;
   // justify-content:space-around;
 }

 .subheader-text{
   margin-left: 80px;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   align-self: center;
 }

.button {
   position: absolute;
   height: 30px;
   width:30px;
   left: 25%;
   right: 28.33%;
   top: 65px;
   border-radius: 4px;
   background: #fff;
}

.button.active {
   background: #7052CC;;
}

.count-text {
   width: 125px;
   height: 18px;
   position: absolute;
   height: 17px;
   left: 55.7%;
   right: 0%;
   top: 15px;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   color: #12344D;
   flex: none;
   order: 0;
   flex-grow: 0;
}

.navbar-left {
   position: fixed;
   width: 60px;
   z-index: 1;
   height:100%;
   background-color: $leftnav-color;
}

.leftbar-logo {
   height: 52px;
   width:60px;
   background: $leftnav-color;
   box-shadow: 0px 1px 0px #41637C, 0px 2px 0px #27303E;
}

.logoimg {
   opacity: 0.5;
   margin:15px;
}

.header{
   height:54px;
   background-color: #ffffff;
   display:flex;
}

.headerimg{
   background: #FFFFFF;
   margin-left:90px;
   margin-top:10px;
}

.header-text{
   height: 17px;
   font-family: $header-font;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 16px;
   color: #41637C;
   margin-left: 15px;
   margin-top:15px;
}

.footer {
   position: fixed;
   height: 20px;
   width:100%;
   bottom: 0%;
   background: #F5F7F9;
   border: 1px solid #CFD7DF;
 }

 .footer-text{
    height:16px;
    width:250px;
    margin-left: 600px;
    bottom:0;
    font-family: $footer-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #607787;
 }
 