.datepicker {
    
    width:300px;
    font-weight: 300;

    table {
        align-items: center;  
    }

    tr,td,th {
        height:5px;
        width:5px;
        font-size: 11px;
        line-height: 18px;
        margin-left: 5px;
    }

    th {
        color: #41637C;
    }
    
    td {
        color: #183247;
        text-align: center;
        padding: 13px;
        border-spacing: 15px;

        &:focus{
            background: #7052CC;
        }
    }   
}



