// $header-font: SF UI Text;

@font-face {
    font-family: 'SF Pro Text';
    src: url('/assets/fonts/SF-Pro-Text-Regular.otf') format('truetype');
  }

.font-style {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
 }