
@mixin animation($animation) {
    -webkit-animation: $animation;
         -o-animation: $animation;
            animation: $animation;
  }


.slide-container {
    right:0;
    top:0;
   position: absolute;
   //  width: 100%;
    height:100%;
    z-index: 10;
    
    opacity:1 ;
    display: flex;
    justify-content: space-around;
    @include animation(slide-modal .1s 1);
    visibility: visible;
  
    .outerslide{ 
       background: #12344D;
       opacity: 0.3;
       width: 45%; 
       
    }
 
    .content-slide {
       width: 55%;
       background-color: #fff;  
       
    }
  }

  .slideleft-button {
   position: absolute;
   width: 60px;
   z-index: 1;
   margin-right:205px;
   background-color: #12344d;
   text-align: center;
   height: 30px;
   
}


  
 .slideheader {
   margin:10px;
    margin-left: 15px;
    justify-content: space-between;
 }
 
 .slide-btns {
    display: flex;
 
    .apply-btn,.reset-btn {
       padding: 10px;
       font-weight: 400;
       border:0px;
       background: transparent;
    }
 
    .apply-btn:hover, .reset-btn:hover {
       background:#12344D ;
       color: #fff;
    }
 
 }

 .horizontal-divider {
  
   border-top: 1px solid #e9ecef;
 }
 
 .slide-headertext {
    padding: 10px;
 }
 
 @keyframes slide-modal {
    from {
      right:-400px;
  
      opacity: 0;
    }
  
    to {
      right:0;
  
      opacity: 1;
    }
  }