
.ember-power-select-trigger{
    width:300px;
}

.ember-power-select-search input{
    background-image:url('/assets/images/searchicon.jpg') ;
    background-repeat: no-repeat;
    padding: 5px;
    padding-left: 30px;
    background-position:  3% 50%;   
}

.ember-power-select-option {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: 'SF Pro Text';
    color: #12344D;
    padding:5px;
    padding-left: 10px;

    &:hover {
        background: #E5F2FD;
        color: #12344D;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
   
}

.ember-basic-dropdown-content {
    padding: 8px;
    padding-bottom:10px;

    .ember-power-select-option[aria-current=true]{
        background: #E5F2FD;
        color: #12344D;
        background-image:url('/assets/images/Path.png') ;
        background-repeat: no-repeat;
        background-position:  95%;
    }

    .ember-power-select-selected-item{
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #12344D;
    }
}
