<div class="navbar-left">
    <nav>
        <div class = "leftbar-logo">
            <div class="logoimg">{{svg-jar 'logo' width='25px' height="25px"}}</div> 
        </div>
        <div class = "users-logo">
            {{#link-to "users" class="users-button"}}
                {{svg-jar 'candidates' width='25px' }}
            {{/link-to}}
        </div>
    </nav>
</div>

<div class="header">
    <div class="headerimg"> {{svg-jar 'logo' width='34px' height="34px"}}</div>
    <div class="header-text">Talent Center</div>
</div>
  {{outlet}}  
<div class="footer">
    <div class=" font-style footer-text">HR Software by Freshworks   |    Knowledge base
    </div>
</div>