
<div class = "container">
    <div class="navbar-left">
            <div class = "leftbar-logo">
                <img class="logoimg" src="images/favicon.ico" width="25px" height="25px">
            </div>
    </div>

    <div class="header">
        <img class = "headerimg" src ="images/brand-header-logo.png" width="34px" height="34px">
        <div class="header-text">Talent Center</div>
    </div>
    
    <div class="footer">
        <div class="footer-text">HR Software by Freshworks   |    Knowledge base
        </div>
    </div>
{{outlet}}
</div>
