<div class="navbar-left">
    <nav>
        <div class = "leftbar-logo">
            <img class="logoimg" src="images/favicon.ico" width="25px" height="25px">
        </div>
        <div class = "users-logo">
            {{#link-to "users" class="users-button"}}
                {{svg-jar 'candidates' width='25px' }}
            {{/link-to}}
        </div>
    </nav>
</div>

<div class="header">
    <img class = "headerimg" src ="images/brand-header-logo.png" width="34px" height="34px">
    <div class="header-text">Talent Center</div>
</div>
  {{outlet}}  
<div class="footer">
    <div class=" font-style footer-text">HR Software by Freshworks   |    Knowledge base
    </div>
</div>