<div class="users-container">
    <div class="sub-header">
        <div class = "subheader-text">Employees</div>
        <div class = "count-text">
            Total Employees: {{model.length}}
        </div>
        {{#link-to "users.new"}}
        <button class = "employee-button">Add Employee</button>
        {{/link-to}}

       

    </div>
  
    <div class="cards-container">
        {{user-cards members = model }}
        {{outlet}}
    </div>
</div>
   
