

<div class="container1">
    <div class="sub-header">
        <div class = "subheader-text">Employees</div>
        <div class = "count-text">
            Total Employees: {{model.length}}
        </div>
    </div>
    {{#user-cards}}
        {{#each model as |avatar|}}
            {{user-card firstname = avatar.first_name lastname = avatar.last_name email = avatar.email image = avatar.image}}
        {{/each}}
    {{/user-cards}}
    {{outlet}}
</div>

