<div class="font-style users-container">
    <div class="sub-header">
        <div class = "subheader-text">Employees</div>
        <div class = "count-text">
            Total Employees: {{model.length}}
        </div>
        {{#link-to "users-listview.new"}}
        <button class = "employee-button">Add Employee</button>
        {{/link-to}}

    </div>
    <div class="cardslist-container">
        
        {{#each model as |user|}} 
        {{user-list-item employeeinfocard = user }} 
        {{outlet}}
        {{/each}}
    </div>
</div>

