<div class="font-style users-container">
    <div class="sub-header">
        <div class = "subheader-text">Employees</div>
        <div class = "count-text">
            Total Employees: {{model.length}}
        </div>
        {{#link-to "users.new"}}
        <button class = "employee-button">Add Employee</button>
        {{/link-to}}

    </div>
    <div class="cards-container">
        {{user-filtering employees = model }}
        {{outlet}}
    </div>
</div>

